.img-cont{
    width: 200px;
}

.flex-center{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.f-family-DancingScript{
    font-family: 'DancingScript', cursive;
    font-size: 24px;
}

.table-header-red {
    color: red !important;
}