@font-face {
    font-family: 'DancingScript';
    src: local('DancingScript'), url('./src/assets/fonts/Dancing_Script/static/DancingScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
